<div class="well well-lg">
    <h4>My Campaigns</h4>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
     <!-- Split button -->
    <div class="btn-group">
      <a href="#/new-campaign" class="btn btn-success">Create New</a>
      <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/new-campaign">Campaign</a></li>
        <li><a href="tactics.html#/new-tactic">Tactic</a></li>
      </ul>
    </div>
     <form class="navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Campaigns">
      </div>
    </form>
  </div>
  <table class="table">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Tactic</th>
              <th>Creative</th>
              <th>Target</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in campaigns">
              <td>{{campaign.meta['name']}}</td>
              <td></td>
              <td></td>
              <td></td>
              <td>
          		<a class="btn btn-default btn-sm" data-toggle="modal" href="#myModal_{{$index}}">
          			Delete  <span class="glyphicon glyphicon-remove"></span>
          		</a>
              <!-- Modal -->
          <div class="modal fade" id="myModal_{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  Are you sure you want to delete the {{campaign.meta['name']}} campaign? This action cannot be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="campaigns.remove(campaign)">Delete</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
              </td>
            </tr>
          </tbody>
        </table>
</div>