<div class="well well-lg">
    <h4>My Campaigns</h4>
  </div>

<div class="panel panel-default">
  <div class="panel-heading">
     <!-- Split button -->
    <div class="btn-group">
      <button type="button" class="btn btn-success">Create New</button>
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/new-campaign">Campaign</a></li>
        <li><a href="tactics.html#/new-tactic">Tactic</a></li>
        <li><a href="#">Geography</a></li>
        <li><a href="#">Target</a></li>
      </ul>
    </div>
     <form class="navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Campaigns">
      </div>
    </form>
  </div>
  <table class="table">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Prev > Next Delivery</th>
              <th>Creative</th>
              <th>Target</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="campaign in campaigns">
              <td>{{campaign.name}}</td>
              <td>{{campaign.date}}</td>
              <td>{{campaign.template}}</td>
              <td>{{campaign.target}}</td>
              <td>{{campaign.status}}</td>
              <td>
          		<a class="btn btn-default btn-sm" data-toggle="modal" href="#myModal_{{$index}}">
          			Delete  <span class="glyphicon glyphicon-remove"></span>
          		</a>
              </td>
            </tr>
          </tbody>
        </table>
</div>