<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a New Campaign</h3>
  </div>
  <div class="panel-body">

<!-- TITLE THE CAMPAIGN -->
<div class="form-group">
<h3>{{campaign.meta['name']}}</h3>
<input type="text" placeholder="Campaign Title" ng-model="campaign.meta['name']"/>
</div>


<!-- LOOP THROUGH TACTICS -->
<div class="form-group">
<div class="well well-lg" ng-repeat="foo in campaign.meta['tactics']">
  <span class="glyphicon glyphicon-remove pull-right" ng-click="campaign.meta['tactics'].splice($index,1)"></span>
  <h4>{{foo.name}} - {{foo.type}}</h4>
</div>
</div>


<!-- SELECT TACTIC -->
<div class="form-group">
<select ng-model="tacticSelect" ng-options="t.name for t in tactics"><option value>Select a Tactic</option></select>
</div>

<!-- PUSH NEW TACTICS INTO TACTIC LOOP -->
<div class="form-group">
<button class="btn" ng-click="campaign.meta['tactics'].push(tacticSelect)"><span class="glyphicon glyphicon-plus" ></span> Add Tactic</button>
</div>

<form class="form" ng-submit="changeView('/my-campaigns')">

<!-- SAVE CAMPAIGN TO CAMPAIGNS FIREBASE -->
<button type="submit" class="btn btn-success" ng-click="campaigns.add(cleanUp(campaign))"></span> Save</button><!-- ng-click="campaigns.add(campaign)"-->

</form>

  </div>
</div>