<!-- LOOP THROUGH TACTICS -->
<div class="form-group">
<div class="well well-lg" ng-repeat="foo in campaign.meta['tactics']">
  <h4>{{foo.name}} - {{foo.type}}</h4>
</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a New Campaign</h3>
  </div>
  <div class="panel-body">

<!-- TITLE THE CAMPAIGN -->
<div class="form-group">
<h3>{{campaign.meta['name']}}</h3>
<input type="text" placeholder="Campaign Title" ng-model="campaign.meta['name']"/>
</div>


<!-- SELECT TACTIC -->
<div class="form-group">
<select ng-model="tacticSelect">
    <option ng-repeat="tactic in tactics" value="{{tactic.name}}">{{tactic.name}} ({{tactic.type}})</option>
</select>
</div>

<!-- PUSH NEW TACTICS INTO TACTIC LOOP -->
<div class="form-group">
<button class="btn" ng-click="campaign.meta['tactics'].push({'name':tacticSelect})"><span class="glyphicon glyphicon-plus" ></span> Add Tactic</button>


<!-- SAVE CAMPAIGN TO CAMPAIGNS FIREBASE -->
<button class="btn btn-success" ng-click="campaigns.add(cleanUp(campaign))"></span> Save</button><!-- ng-click="campaigns.add(campaign)"-->
</div>

<h3>{{campaign}}</h3>


  </div>
</div>