<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a New Campaign</h3>
  </div>
  <div class="panel-body">

    <div class="form-group">
        <input class="form-control" placeholder="Campaign Name" ng-model="campaign.name">
    </div>

    <div class="well well-lg" ng-repeat="campaignTactic in campaignTactics">
      <h4>{{campaignTactic.name}}</h4>
    </div>

    <div class="well well-lg">

      <form role="form">

      <div class="form-group">
        <label>Select Tactic</label><!-- ng-model="campaign.tactic"-->
        <select class="form-control" ng-model="sampleModel">
          <option ng-repeat="tactic in tactics">{{tactic.name}}</option>
        </select>
      </div>

      <button class="btn" ng-click="addTactic()"><span class="glyphicon glyphicon-plus" ></span> Add Tactic</button>

      </form>

    </div><!-- /.well -->

    <form role="form" ng-submit="changeView('/my-campaigns')">

    <button type="submit" class="btn btn-lg btn-success" ng-click="campaigns.add(campaign)">Save Campaign</button>

    </form>

  </div>
</div>